{
  "start_join": {{ hostvars|to_group_vars(groups,'consul')|map(attribute='private_ip')|list|to_json }},
  "domain": "{{ consul_domain }}",
  "data_dir": "/opt/consul/data",
  "log_level": "{{ consul_log_level }}",
  "node_name": "{{ inventory_hostname }}",
  "client_addr": "127.0.0.1",
  "bind_addr": "{{ private_ip }}",
  "datacenter": "development",
  {% if inventory_hostname in groups['consul'] %}
  "server": true,
  "bootstrap_expect": {{ groups['consul']|length }},
  "ui_dir": "/opt/consul/dist",
  {% endif %}
  "rejoin_after_leave": true,
  "leave_on_terminate": false
}
